:root{
    /* Box Shadow */
    --bs-black-thin : 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    --bs-white-inset : 0px 0px 5px 2px rgba(255, 255, 255, .3);
    
    /* Color */
    --primary:hsl(180, 90%, 70%);
    height: 1000vh;
}

/* Font Start */
@font-face {
    font-family: minions;
    src: url(./../fonts/satans_minions/SATAM___.TTF);
}

@font-face {
    font-family: vinque;
    src: url(./../fonts/vinque/vinque\ rg.otf);
}

@font-face {
    font-family: fonarto;
    src: url(./../fonts/fonarto/Fonarto\ XT.ttf);
}

/* Font End */

* ::selection{
    background-color: black;
    color:aqua;
}

* ::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

body{
    display:flex;
    /* padding:70px 70px; */
    height: 100vh;
    box-sizing: border-box;
    background: rgb(230, 230, 230);
    font-family: vinque, minions, arial;
}

main{
    background-color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
    border:none;
    border-radius: 10px;
    box-shadow:var(--bs-black-thin);

    display: flex;/
}

main > section, form{
    flex:1;
}